<main class="container-fluid">
  <div class="row justify-content-center">
    <h2 class="col-12 m-5 text-center">Datos: </h2>
    <ul class="col-12 text-center">
      <li>Argumentos de entrada: {{datos.args}}</li>
      <li>Nombre de plataforma: {{datos.platform}}</li>
      <li>Versión de Nodejs: {{datos.nodejsv}}</li>
      <li>Memoria total reservada: {{datos.rss}}</li>
      <li>Path de ejecución: {{datos.path}}</li>
      <li>Process id: {{datos.processId}}</li>
      <li>Carpeta del proyecto: {{datos.folder}}</li>
    </ul>
  </div>
</main>