<main>
  <div class="row justify-content-center">
    <h3 class="mb-3 text-center">Lista de productos</h3>
    {{#if products}}
      <div class="col-4">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Precio</th>
              <th scope="col">Foto</th>
            </tr>
          </thead>
          <tbody>
            {{#each products}}
              <tr>
                <th scope="row">{{this.title}}</th>
                <td>{{this.price}}</td>
                <td><img
                    src="{{this.thumbnail}}"
                    alt="{{this.title}} foto"
                    class="img-fluid"
                  /></td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    {{else}}
      <div class="col-2 alert alert-dark mt-5" role="alert">
        No hay productos!
      </div>
    {{/if}}
    <div class="col-12 d-flex justify-content-center">
      <a href="./" class="btn btn-primary text-white">Agregar producto</a>
    </div>
  </div>
</main>